/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
	header: 9,
	link: 2,
	banner-box: 1,
);
