@import "core/styles/_assets.scss";

.join {
	padding: 80px 0;
}
.head {
	text-align: center;
	margin-bottom: 80px;
}
.title {
	font-family: ff(title);
	@include font-size(h1);
	font-weight: fw(bold);
	margin-bottom: 0;
}
.body {
	display: flex;
	column-gap: 32px;
}
.item {
	flex-basis: 33.333333%;
	height: auto;
}
